html,
body {
    height: auto;
    width: 100%;
    min-width: 1200px;
    background-color: #f5f7fa;
    font: 14px / 1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: #1c1f21;
}

a {
    text-decoration: none;
}

.page-header {
    width: 100%;
    height: 72px;
    background: #07111b;
    border-bottom: 1px solid #F3F5F6;
}

.header-wapper {
    width: 100%;
    height: 72px;
    background-color: #fff;
    z-index: 900;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1366px;
    min-width: 1152px;
    height: 72px;
    margin: 0 auto;
}

.header-common {
    display: flex;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 140px;
    height: 71px;
    margin: 0 20px;
}

.header-logo-link {
    display: block;
    width: 140px;
    height: 71px;
}

.header-logo-img {
    width: 126px;
    height: 72px;
    margin-left: 4px;
}

.header-menu {
    display: flex;
    width: 480px;
    height: 71px;
}

.header-menu-item {
    position: relative;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    padding: 0 16px;
    /* text-align: center;
    line-height: 71px; */
    font-size: 16px;
    color: #545C63;
    white-space: nowrap;

}

.header-menu-item:hover {
    color: #07111b;
}

.header-menu-item:nth-child(4):after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 18px;
    right: 2px;
    width: 14px;
    height: 10px;
    background: url(../img/improve-targe.png) no-repeat 0 0;
    background-size: 100%;
    background-position: center;
}

.header-search {
    display: flex;
    height: 40px;
    align-items: center;
    /* padding-right: 36px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    zoom: 1;
    background: #F3F5F6;
    border-radius: 4px;
    margin: 16px 0 16px 24px;
    width: 324px;
    box-sizing: border-box;
    font-size: 0
}

.search-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 8px 12px;
    color: #9199A1;
    background-color: transparent;
    height: 40px;
    width: 288px;
    box-sizing: border-box;
    font-size: 0;
}

.search-input {
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-size: 14px;
    background-color: transparent;
    outline: 0;
}

.hottages-gpt,
.hottages-python {
    display: inline-block;
    padding: 4px;
    height: 16px;
    font-size: 14px;
    color: #9199A1;
    line-height: 16px;
    max-width: 60px;
    white-space: nowrap;
}

.search-btn {
    display: inline-block;
    width: 20px;
    height: 24px;
    text-align: right;
    padding: 0 8px;
    border-radius: 18px;
}

.search-btn-icon {
    display: block;
    height: 24px;
    color: #545c63;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    width: 20px;
    background: url(../img/sousuo.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.header-user {
    width: 174.28px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-shop {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 36px;
    margin: 18px 0;
}

.user-shop-icon {
    position: relative;
    top: 1px;
    right: 3px;
    display: inline-block;
    padding: 0 12px;
    width: auto;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
    color: #787d82;
    text-align: center;
}

.user-shop-icon .icon-ai66 {
    font-size: 24px;
    color: #545C63;
}

.user-sign {
    color: #d9dde1;
}

.user-signin,
.user-signup {
    display: inline-block;
    padding: 0 12px;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    color: #4d555d;
    transition: background-color .2s;
}

.user-signin:hover,
.user-signup:hover {
    color: #f01414;
}

/* page-mainer部分开始 */
.page-mainer {
    width: 100%;
    height: 3356px;
    display: flex;
    flex-direction: column;
    background-color: pink;
}

.banner-section {
    box-sizing: border-box;
    width: 100%;
    height: 546px;
    padding: 32px 0;
    box-shadow: 2px 8px 0 rgba(7, 17, 27, 0.06);
    background: #fff;
}

.banner-main {
    display: flex;
    width: 1152px;
    height: 382px;
    margin: auto;
    border-radius: 8px 8px 0 0;
}

.main-menu-list {
    width: 256px;
    height: 382px;
    z-index: 2;
    padding-top: 17px;
    box-sizing: border-box;
    background: #39364d;
    border-radius: 8px 0 0 4px;
    font-weight: 400;
}

.menu-item {
    line-height: 50px;
    cursor: pointer;
    position: relative;
    color: #fff;
    padding: 0 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 50px;
    transition: all .1s;
    font-size: 14px;
    white-space: nowrap;
}

.menu-item .icon-arrow {
    position: absolute;
    right: 4px;
    top: 9px;
    color: rgba(255, 255, 255, .5);
    font-size: 16px;
    transform: scale(0.8);
}

.menu-subtitle {
    font-size: 12px;
}

.banner-submain {
    display: flex;
    justify-content: space-between;
    width: 1152px;
    height: 100px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
}

.submain-course-list {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1040px;
    height: 73px;
    padding: 28px 0 0 16px;
}

.course-item {
    display: inline-block;
    width: 192px;
    height: 45px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
}

.course-item:hover .course-img {
    transform: translateY(-2px);
}

.course-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: url(../img/course-java.jpg);
    background-size: cover;
    margin-right: 8px;
    transition: all .2s;
}

.front-img {
    background: url(../img/course-front.jpg);
    background-size: cover;
}

.python-img {
    background: url(../img/course-python.jpg);
    background-size: cover;
}

.harmonyos-img {
    background: url(../img/course-harmonyos.jpg);
    background-size: cover;
}

.algorithm-img {
    background: url(../img/course-algorithm.jpg);
    background-size: cover;
}

.info-title {
    width: 139px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #1C1F21;
    letter-spacing: 0.76px;
    line-height: 22px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
}

.course-item:hover .info-title {
    color: #F01414;
}

.info-subtitle {
    width: 139px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #545C63;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
}

.submain-course-line {
    height: 36px;
    border: 1px solid #E8E8E8;
    margin-left: 16px;
    margin-top: 33px;
}

.submain-course-more {
    display: block;
    width: 94px;
    height: 100px;
    cursor: pointer;
    overflow: hidden;
}

.course-name {
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #1C1F21;
    text-align: center;
    line-height: 14px;
    margin-top: 40px;
}

.course-arrow {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #545C63;
    line-height: 12px;
    margin-left: 30px;
}

.submain-course-more:hover .course-arrow {
    color: #1c1f21;
}

.course-arrow::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: translateX(-2.5px) translateY(0.5px) rotate(45deg) scale(.48);
    transition: all .2s;
}

.submain-course-more:hover .course-arrow::after {
    transform: translateX(3px) translateY(0.5px) rotate(45deg) scale(.48);
}

.main-carousel {
    width: 896px;
    height: 100%;
    border-radius: 0 8px 8px 0;
    background: #f6f7fb;
    overflow: hidden;
}

.main-carousel-slider {
    width: 5376px;
    height: 100%;
    display: flex;
    animation: move 10s ease .2s infinite;
}

.carousel-slider-wrapper {
    width: 896px;
    height: 100%;
    cursor: pointer;
}

.carousel-slider-img {
    width: 100%;
    height: 100%;
}

@keyframes move {
    0% {
        transform: translate3d(0, 0, 0);
    }

    20% {
        transform: translate3d(-896px, 0, 0);
    }

    40% {
        transform: translate3d(-1792px, 0, 0);
    }

    60% {
        transform: translate3d(-2688px, 0, 0);
    }

    80% {
        transform: translate3d(-3584px, 0, 0);
    }

    100% {
        transform: translate3d(-4480px, 0, 0);
    }
}

/* hot-section部分 */
.hot-section {
    width: 100%;
    height: 698px;
    box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06);
    background: #F5F7FA;
}

.hot-news {
    box-sizing: border-box;
    width: 1152px;
    height: 698px;
    margin: 0 auto;
    padding: 32px 0;
}

.news-title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 1152px;
    height: 36px;
    padding-left: 180px;
    margin-bottom: 30px;
    background: url(../img/hot-course.png) no-repeat left center / auto 29px;
}

.title-menu {
    display: flex;
    align-items: center;
    /* width: 308px; */
    height: 30px;
}

.title-item {
    display: block;
    height: 30px;
    padding: 0 14px;
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
    color: #1c1f21;
    transition: all .2s;
}

.title-item:hover {
    color: #E02020;
}

.title-item:nth-child(1) {
    position: relative;
    font-weight: 700;
}

.title-item:nth-child(1)::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -0.7em;
    width: 1.4em;
    height: 2px;
    border-radius: 100px;
    background-color: #E76060;
}

.news-list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 1152px;
    height: 568px;
}

.news-item {
    display: inline-block;
    width: 270px;
    height: 272px;
    background: #FFFFFF;
    box-shadow: 0 6px 10px 0 rgba(95, 101, 105, 0.15);
    border-radius: 8px;
    transition: all .2s;
}

.news-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 20px 0 rgba(95, 101, 105, 0.15);
}

.card-news-top {
    display: flex;
    flex-direction: row-reverse;
    width: 270px;
    height: 152px;
    margin-bottom: 8px;
    border-radius: 8px 8px 0 0;
    background: url(../img/news-react.jpg);
    background-size: cover;
}

.card-news-webrtc {
    background: url(../img/news-webrtc.jpg);
    background-size: cover;
}

.card-news-agent {
    background: url(../img/news-agent.jpg);
    background-size: cover;
}

.card-news-algorithm {
    background: url(../img/news-algorithm.jpg);
    background-size: cover;
}

.card-news-go {
    background: url(../img/news-go.jpg);
    background-size: cover;
}

.card-news-diffusion {
    background: url(../img/news-diffusion.jpg);
    background-size: cover;
}

.card-news-full {
    background: url(../img/news-full.jpg);
    background-size: cover;
}

.card-news-csre {
    background: url(../img/news-csre.png);
    background-size: cover;
}

.news-tag {
    width: 60px;
    height: 25px;
    background: url(../img/news-tag.png) no-repeat center / 100%;
}

.card-news-title {
    color: #545C63;
    line-height: 20px;
    height: 40px;
    margin-bottom: 8px;
    padding: 0 8px;
}

.card-news-difficulty {
    display: block;
    color: #9199A1;
    font-size: 12px;
    margin-bottom: 8px;
    padding: 0 8px;
}

.card-news-price {
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 12px;
    color: #9199A1;
    line-height: 18px;
    padding: 0 8px;
    margin-bottom: 18px;
    white-space: nowrap;
}

.price-label {
    display: flex;
    align-items: center;
    border: 1px solid rgba(242, 13, 13, 0.2);
    border-radius: 2px;
    font-size: 12px;
    line-height: 1;
    margin-right: 4px;
    overflow: hidden;
}

.label-discount {
    font-style: normal;
    padding: 3px 4px;
    color: #fff;
    background-color: rgba(242, 13, 13, 0.6);
}

.price-current {
    line-height: 20px;
    margin-right: 2px;
    color: #F01414;
    font-weight: 700;
}

.price-original {
    line-height: 20px;
    margin-left: 4px;
    color: #6d7278;
    text-decoration: line-through;
}

/* mooc-section部分开始 */
.mooc-section {
    width: 100%;
    height: 1602px;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
}

.mooc-live {
    box-sizing: border-box;
    width: 1152px;
    height: 374px;
    margin: 0 auto;
    padding: 32px 0;
}

.live-title {
    box-sizing: border-box;
    width: 1152px;
    height: 36px;
    display: flex;
    align-items: center;
    background: url(../img/mooc-live.png) no-repeat left center / auto 29px;
    padding-left: 180px;
    margin-bottom: 30px;
}

.title-describe {
    font-size: 14px;
    color: #9199A1;
    letter-spacing: 0.88px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 28px;
    padding-top: 12px;
}

.live-list {
    width: 1149px;
    height: 244px;
    display: flex;
    justify-content: space-between;
}

.live-item {
    display: inline-block;
    width: 367px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px 0px rgba(55, 55, 55, 0.2);
    border-radius: 6px;
}

.live-img {
    width: 367px;
    height: 138px;
    border-radius: 6px 6px 0 0;
    background: url(../img/live-jett.png);
    background-size: cover;
}

.live-ai {
    background: url(../img/live-ai.png);
    background-size: cover;
}

.live-back {
    background: url(../img/live-back.png);
    background-size: cover;
}

.live-detail {
    font-size: 14px;
    color: #545C63;
    line-height: 14px;
    font-weight: 400;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.live-callback {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 367px;
    height: 24px;
    padding: 0 10px;
    box-sizing: border-box;
}

.callback-btn {
    width: 92px;
    height: 24px;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    /* line-height: 24px; */
    border-radius: 12px;
    background: #383D42;
    cursor: pointer;
}

/* mooc-ranking部分开始 */
.mooc-ranking {
    box-sizing: border-box;
    width: 1152px;
    height: 530px;
    margin: 0 auto;
    padding: 32px 0;
}

.ranking-title {
    box-sizing: border-box;
    width: 1152px;
    height: 36px;
    display: flex;
    align-items: center;
    background: url(../img/mooc-ranking.png) no-repeat left center / auto 29px;
    padding-left: 180px;
    margin-bottom: 30px;
}

.ranking-list {
    width: 1135px;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.ranking-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 367px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px 0px rgba(55, 55, 55, 0.2);
    border-radius: 6px;
}

.ranking-tag {
    display: block;
    width: 129px;
    height: 43px;
    line-height: 32px;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    transform: translateY(-7px);
}

.ranking-bestselling {
    background: url(../img/ranking-bestselling.png) no-repeat center / 100%;
}

.ranking-new {
    background: url(../img/ranking-new.png) no-repeat center / 100%;
}

.ranking-study {
    background: url(../img/ranking-study.png) no-repeat center / 100%;
}

.ranking-class {
    width: 367px;
    height: 280px;
    margin-top: 17px;
    margin-bottom: 20px;
}

.ranking-class-item {
    display: block;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.class-num-first {
    width: 19px;
    height: 22px;
    background: url(../img/class-first.png) no-repeat center / 100%;
    margin: 0 12px 0 15px;
}

.class-num-second {
    width: 19px;
    height: 22px;
    background: url(../img/class-second.png) no-repeat center / 100%;
    margin: 0 12px 0 15px;
}

.class-num-thirt {
    width: 19px;
    height: 22px;
    background: url(../img/class-thirt.png) no-repeat center / 100%;
    margin: 0 12px 0 15px;
}

.class-img {
    width: 142px;
    height: 80px;
    border-radius: 4px;
    margin-right: 10px;
}

.class-info {
    width: 144px;
    font-size: 12px;
}

.class-info-title {
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #545c63;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* 第几行裁剪 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.class-info-price {
    font-weight: 600;
    margin-bottom: 2px;
    color: #f01414;
}

.class-info-studying {
    font-weight: 400;
    color: #9199a1;
}

.ranking-btn {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #ffffff;
    background-image: linear-gradient(270deg, #ff4f39 0%, #fd6400 100%);
    border-radius: 12px;
}

.ranking-btn .icon-chevrons-right {
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 12px;
    color: #ffffff;
    font-size: 16px;
}

/* mooc-learn部分开始 */
.mooc-learn {
    box-sizing: border-box;
    width: 1152px;
    height: 698px;
    margin: 0 auto;
    padding: 32px 0;
}

.learn-title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 1152px;
    height: 36px;
    padding-left: 180px;
    margin-bottom: 30px;
    background: url(../img/learn-good.png) no-repeat left center / auto 29px;
}

.learn-list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 1152px;
    height: 568px;
}

.learn-item {
    display: inline-block;
    width: 270px;
    height: 272px;
    background: #FFFFFF;
    box-shadow: 0 6px 10px 0 rgba(95, 101, 105, 0.15);
    border-radius: 8px;
    transition: all .2s;
}

.learn-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 20px 0 rgba(95, 101, 105, 0.15);
}

.card-learn-top {
    display: flex;
    flex-direction: row-reverse;
    width: 270px;
    height: 152px;
    margin-bottom: 8px;
    border-radius: 8px 8px 0 0;
    background: url(../img/learn-front.jpg);
    background-size: cover;
}

.card-learn-nest {
    background: url(../img/learn-nest.js.png);
    background-size: cover;
}

.card-learn-java {
    background: url(../img/learn-java.png);
    background-size: cover;
}

.card-learn-flutter {
    background: url(../img/learn-flutter.jpg);
    background-size: cover;
}

.card-learn-ai {
    background: url(../img/learn-ai.png);
    background-size: cover;
}

.card-learn-csre {
    background: url(../img/learn-csre.png);
    background-size: cover;
}

.card-learn-webgl {
    background: url(../img/learn-webgl.png);
    background-size: cover;
}

.card-learn-c {
    background: url(../img/learn-c++.jpg);
    background-size: cover;
}

.learn-tag {
    width: 60px;
    height: 25px;
    background: url(../img/learn-tag.png) no-repeat center / 100%;
}

.card-learn-title {
    color: #545C63;
    line-height: 20px;
    height: 40px;
    margin-bottom: 8px;
    padding: 0 8px;
}

.card-learn-difficulty {
    display: block;
    color: #9199A1;
    font-size: 12px;
    margin-bottom: 8px;
    padding: 0 8px;
}

.card-learn-price {
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 12px;
    color: #9199A1;
    line-height: 18px;
    padding: 0 8px;
    margin-bottom: 18px;
    white-space: nowrap;
}

/* line-section部分开始 */
.line-section {
    width: 100%;
    height: 510px;
    box-shadow: 0 0 0 0 rgba(7, 17, 27, .06);
    background: #F5F7FA;
}

.line-learnpath {
    box-sizing: border-box;
    width: 1152px;
    height: 510px;
    margin: 0 auto;
    padding: 32px 0;
}

.learnpath-title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1152px;
    height: 36px;
    padding-left: 180px;
    margin-bottom: 30px;
    background: url(../img/line-learnpath.png) no-repeat left center / auto 29px;
}

.learnpath-more {
    display: inline-block;
    width: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 36px;
    color: #6D7278;
    transition: all .2s;
}

.learnpath-more:hover {
    color: #1c1f21;
}

.learnpath-more::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #6D7278;
    border-right: 1px solid #6D7278;
    transform: translateX(2px) rotate(45deg) scale(.7);
    transition: color .2s;
}

.learnpath-more:hover .learnpath-more::after {
    border-color: #1c1f21;
}

.learnpath-list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 1152px;
    height: 380px;
}

.learnpath-item {
    display: block;
    width: 368px;
    height: 178px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(95, 101, 105, 0.1);
    border-radius: 8px;
    transition: all .2s;
    overflow: hidden;
}

.learnpath-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 20px 0 rgba(95, 101, 105, .15);
}

.learnpath-img {
    height: 90px;
    margin-bottom: 10px;
    background: url(../img/learnpath-python.png);
    background-size: cover;
}

.learnpath-k8s {
    background: url(../img/learnpath-k8s.png);
    background-size: cover;
}

.learnpath-java {
    background: url(../img/learnpath-java.png);
    background-size: cover;
}

.learnpath-computer {
    background: url(../img/learnpath-computer.png);
    background-size: cover;
}

.learnpath-algorithm {
    background: url(../img/learnpath-algorithm.png);
    background-size: cover;
}

.learnpath-5g {
    background: url(../img/learnpath-5g.png);
    background-size: cover;
}

.learnpath-detail {
    width: 368px;
    height: 40px;
    padding: 0 8px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
    color: #545c63;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.learnpath-information {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 368px;
    height: 18px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 12px;
    color: #9199A1;
}

/* footer部分开始 */
.footer-social-content {
    box-sizing: border-box;
    width: 100%;
    height: 133.39px;
    padding: 36px 0;
    background-color: #fff;
    border-top: 1px solid #f3f3f6;
}

.footer-social-container {
    display: flex;
    justify-content: space-between;
    width: 1152px;
    height: 60.39px;
    margin: 0 auto;
}

.social-container-left {
    display: flex;
    flex-direction: column;
    width: 870px;
}

.social-contact {
    width: 870px;
    height: 28px;
}

.social-contact-title {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    color: #545C63;
    margin-right: 24px;
    font-weight: 300;
}

.social-copyright {
    width: 870px;
    height: 24.39px;
    font-size: 12px;
    text-align: left;
    margin-top: 8px;
    color: #93999F;
    line-height: 24px;
    font-weight: 300;
}

.social-copyright-detail {
    line-height: 1.7;
}

.copyright-tag {
    width: 18px;
    height: 18px;
    display: inline;
    margin-left: 0;
}

.copyright-filings {
    color: #93999F;
    font-size: 12px;
    margin-left: 4px;
}

.copyright-police {
    color: #93999F;
    font-size: 12px;
    margin: 0 4px;
}

.copyright-police-tag {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-size: cover;
    display: inline-block;
    margin-right: 4px;
    margin-top: -4px;
    background: url(../img/copyright-police.png) no-repeat 0 0;
}

.copyright-license {
    color: #93999F;
    font-size: 12px;
}

.social-container-right {
    width: 282px;
    height: 59px;
    display: flex;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.social-link:last-child {
    margin-right: 0;
}

.social-medium {
    display: inline-block;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 0 9px;
}

.social-web {
    background: #545c63;
}

.social-wechat,
.social-microblog,
.social-qq {
    background: #b7bbbf;
}

.iconfont {
    line-height: 32px;
    font-size: 20px;
    color: #ffffff;
}

.social-link-text {
    font-size: 12px;
    color: #545c63;
    margin-top: 10px;
}

.footer-link-content {
    width: 100%;
    height: 144px;
    background: #fff;
}

.footer-link-container {
    display: flex;
    box-sizing: border-box;
    width: 1152px;
    height: 144px;
    margin: 0 auto;
    padding: 0 0 24px 0;
}

.footer-link-title {
    width: 70px;
    height: 28px;
    font-size: 14px;
    color: #545C63;
    text-align: center;
    line-height: 28px;
    font-weight: 300;
    margin-right: 12px;
}

.footer-link-list {
    width: 1070px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.footer-link-item:nth-child(21) {
    width: 46.16px;
}

.footer-link-item {
    height: 28px;
    line-height: 28px;
    margin: 0 24px 12px 0;
    font-size: 14px;
    font-weight: 300;
    color: #545C63;
}

.footer-link-item:hover {
    color: #1C1F21;
}